body {
    background-image: url(../img/table.png);
    background-size: cover;
    font-family: "Exo 2", sans-serif;
}

h4 {
    color: whitesmoke;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.cards {
    height: 120px;;
}

#cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    background-color: yellow;
    cursor: pointer;
    border: none;
}

#btn {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.score{
    display: flex;
    align-items: center;
    margin: 0.5em;
}

