body {
    background-image: url(../img/table.png);
    background-size: cover;
}

#game-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cards {
    width: 100px;
}

#cards-container {
    display: flex;
    justify-content: center;
}

#btn {
    display: flex;
    flex-direction: column;
    align-content: center;
}

